<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CowBoy</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/mobile.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/animacion.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/grid.css'>
    
</head>
<body id="body">
    <!-- Aqui empieza el navbar -->
    <nav class="fadeInDown">
        <div class="CowBoy_image">
            <img src="../img/Iconotrasparencia1.png" alt="">
        </div>
        <div class="nav_options">
            <ul>
                <li><a href="img.html">Faqs</a></li>
                <li><a href="producto.html">producto y descripcion</a></li>
            </ul>
            <!-- <div class="option">Faqs</div>
            <div class="option">producto y descripcion</div> -->
        </div>
    </nav>
     <!-- Aqui termina el navbar -->

    <!-- Aqui empieza formulario venta -->
    <div class="containerventa">
        <div class="container">
            <div class="row">
                <div class="col-4">
                   <div class="modulo_pago">
                    <div class="modulo_pago_img">
                        <img src="../img/Mich.png">
                    </div>
                    <h3>Producto</h3>
                    <p>Miles de productos hay en el mercado, pero nada como una caja de gatitos</p>  
                </div>
                </div>
                <div class="col-6  contenido_form">
                    <div class="modulo_pago ">
                        <form action="" method="post">
                            <label form="name">Nombre</label>
                            <br>
                            <input type="text" name="name" class="data" >
                            <br>
                            <label form="mail">Email</label>
                            <br>
                            <input type="text" name="mail" class="data">
                            <br>
                            <label form="telefono">Telefono</label>
                            <br>
                            <input type="text" name="telefono" class="data">
                            <input type="submit" class="main_button data" name="submit" value="ENVIAR">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Aqui terminaformulario venta --> 

</body>
<!-- Inicio de footer -->
<footer>
    <div class="option">Terminos y condiciones</div>
    <div class="option">contacto@cowboy.com</div>
</footer>
 <!-- Fin de footer -->
</html>